/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

/* Gradient backgrounds */

.gradient-jai-alai-green {
	background: rgb(21,71,51);
	background: linear-gradient(0deg, rgba(21,71,51,1) 0%, rgba(25,116,56,1) 69%);
}
.dark-section-mcc {
	background: rgb(7,37,54);
	background: linear-gradient(0deg, rgba(7,37,54,1) 15%, rgba(4,21,31,1) 84%);
}

/* Font colors */
.dark-green {
	color: #154733 !important;
}

.mid-green {
	color: #007500 !important;
}

.white-font {
	color: #fff !important;
}

/* Custom decorative elements */
.mcc-circle {
	height: 100px;
	width: 100px;
	/* background-image: url('../images/logo/mcc-tree-white.svg'); */
	background-image: url('../images/logo/mcc-tree-red.svg');
	background-size: 45px;
    background-repeat: no-repeat;
    background-position: center;
	border: 5px solid #E4002B;
	/* background-color: #E4002B; */
	border-radius: 50%;
	display: inline-block;
}

.mcc-circle-fullcolor {
	height: 200px;
	width: 200px;
	/* background-image: url('../images/logo/mcc-tree-white.svg'); */
    background-repeat: no-repeat;
    background-position: center;
	background: rgb(94,0,0);
	background: linear-gradient(0deg, rgba(94,0,0,1) 15%, rgba(228,0,43,1) 84%);
	/* background-color: #E4002B; */
	border-radius: 50%;
	display: inline-block;
}

.circle {
	border-radius: 50%;
}

.red-border-bottom {
	border-bottom: 5px solid #E4002B;
}

.white-border-bottom {
	border-bottom: 5px solid #fff;
}

/* background colors */

.bgrd-main-red {
	background-color: #E4002B;
}

.bgrd-main-dotted {
	background: url('../images/patterns/dots-texture-circle-darkred.svg') center center/cover no-repeat #E4002B;
}

/* Font styles */
.footer-big-contacts span {
	text-transform: uppercase;
	font-size: .8rem;
}
.hours-and-phone {
	font-size: .8rem;
}

.breadcrumb-footer {
    background-color: transparent !important;
    padding: 0 !important;
    font-size: 90%;
}

/* Font families */

.open-sans {
	font-family: 'Open Sans', sans-serif;
}